*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
.root {
  min-height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin-top: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: rgb(29, 29, 29);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 18pt;
  padding: 100px 0 130px 0;
}

section:nth-of-type(3) {
  background-color: black;
}